<section class="video">
  <div class="container">
    <div class="video__top">
      <h2 class="video__title title">
        Be amazed by the power
      </h2>
      <span class="video__description">
        Speed and economy together in one place, use and abuse your car's potential.
      </span>
    </div>
    <a data-fancybox class="video__link" style="background-image: url('images/video-bg.jpg')"
      href="https://youtu.be/PkkV1vLHUvQ">
      <span class="sr-only">play video</span>
    </a>
  </div>
</section>