<div class="tabs">
  <div class="tabs__content">
    <div id="tab-1" class="tabs__content-item tabs__content-item_active">
      <img class="tabs__content-img" src="images/services/img2.jpg" alt="foto car">
      <h2 class="tabs__content-title title-l">
        Auto Diagnostics
      </h2>
      <p class="tabs__content-text">
        Through True Rich Attended does no end it his mother since favourable real had half every him case in
        packages enquire
        we up ecstatic. Through True Rich Attended does no end it his mother.
      </p>
      <a class="tabs__content-link" target=" _blank" href="https://kob-finsweet.netlify.app/single-diagnostics.html">
        See service details
        <svg class="tabs__content-icon arrow">
          <use xlink:href="images/sprite.svg#arrow-big"></use>
        </svg>
      </a>
    </div>
    <div id="tab-2" class="tabs__content-item">
      <img class="tabs__content-img" src="images/services/eng.jpg" alt="foto car">
      <h2 class="tabs__content-title title-l">
        Engin Repair
      </h2>
      <p class="tabs__content-text">
        Through True Rich Attended does no end it his mother since favourable real had half every him case in
        packages enquire
        we up ecstatic. Through True Rich Attended does no end it his mother.
      </p>
      <a class="tabs__content-link" href="#">
        See service details
        <svg class="tabs__content-icon arrow">
          <use xlink:href="images/sprite.svg#arrow-big"></use>
        </svg>
      </a>
    </div>
    <div id="tab-3" class="tabs__content-item">
      <img class="tabs__content-img" src="images/info-img1.jpg" alt="foto car">
      <h2 class="tabs__content-title title-l">
        Body Work
      </h2>
      <p class="tabs__content-text">
        Through True Rich Attended does no end it his mother since favourable real had half every him case in
        packages enquire
        we up ecstatic. Through True Rich Attended does no end it his mother.
      </p>
      <a class="tabs__content-link" href="#">
        See service details
        <svg class="tabs__content-icon arrow">
          <use xlink:href="images/sprite.svg#arrow-big"></use>
        </svg>
      </a>
    </div>
  </div>
  <ul class="tabs__list">
    <li class="tabs__item">
      <a class="item-card tabs__link tabs__link_active" href="#tab-1">
        <svg class="item-card__icon item-card__icon_car">
          <use xlink:href="images/sprite.svg#car"></use>
        </svg>
        <span class="item-card__text">
          Diagnostics
        </span>
      </a>
    </li>
    <li class="tabs__item">
      <a class="item-card tabs__link" href="#tab-2">
        <svg class="item-card__icon item-card__icon_engine ">
          <use xlink:href="images/sprite.svg#engine"></use>
        </svg>
        <span class="item-card__text">
          Engine Repair
        </span>
      </a>
    </li>
    <li class="tabs__item">
      <a class="item-card tabs__link" href="#tab-3">
        <svg class="item-card__icon item-card__icon_car2">
          <use xlink:href="images/sprite.svg#car"></use>
        </svg>
        <span class="item-card__text">
          Body Work
        </span>
      </a>
    </li>
  </ul>
</div>